@model CRUD.Models.AULA_MD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AULA_MD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AulaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AulaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AulaDescricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AulaDescricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AulaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
